<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Home</title>
    <style>
        body {
            display: grid;
            grid-template-columns: repeat(2, 1fr);

        }
    </style>
</head>
<body>
{% for best_result in best_results %}
    <div>
        <h2>{{ best_result["title"] }}</h2>
        <a href="{{ url_for('movie', slug=best_result['slug']) }}">
            <img src="{{ best_result['poster_path'] }}" />
        </a>
    </div>
{% endfor %}
</body>
</html>
